body{
    background-color:wheat;
    color: black;
    border: solid;
    border-color: darksalmon;
    text-align: center;
}

h1{
    text-align: center;
    height: 90px;
    background-color: burlywood;
    border: 5px solid black;
    margin-top: 50px;
}

h2{
    text-align: center; 
}


 p{
    margin-left: 03%;
 }  

 em strong{
    color: chocolate;
 }

 img{
    
 }
 

 #banner{
    width: 70%;
 }

